body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#mainTitle{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#dialogueBar{
    bottom: 0px;
    left: 0px;
    width: 800px;
    height: 64px;
}

#dialogueContent{
    position: relative;
    width: 800px;
    height: 64px;
}

#mainCharacterSpeech{
    top: 0px;
    left: 80px;
}

#brownBar {
    position: absolute;
    background-color: #442c1c;
    width: 800px;
    height: 32px;
    bottom: 0px;
}

#counterSpeech{
    top: 0px;
    right: 80px;
}

#counterCharacter {
    top: 0px;
    right: 0px;
    opacity: 0;
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: blue;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

#mainCharacter{
    top: 10px;
    left: 30px;
}

#tree1{
    width: 32px;
    height: 84px;
    left: 353px;
    top: 486px;
}

#rock1{
    width: 32px;
    height: 50px;
    left: 225px;
    top: 139px;
}

#Sil{
    width: 56px;
    height: 38px;
    left: 611px;
    top: 84px;
}

#altar{
    width: 95px;
    height: 84px;
    left: 512px;
    top: 324px;
}

/*classes*/
.gameObject{
    position: absolute;
    transition: all 1s ease-in-out;
    /*background-color: #fff;*/
}

.foreground{
    z-index: 1000;
}

.character{
    z-index: 100;
}

.background{
    z-index: 0;
}

.speech-bubble{
    background: white;
    border-radius: 60px;
    color: #000;
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    opacity: 0;
    width: 300px;
    transition: all 1s ease-in-out;
}